/*    ****************** FORMATAGE  ****************** */
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none ;
}

body{
    font-family: 'Roboto'sans-serif!important;
}

p,h1,h2,h3,h4,h5,h6,a,span{
    font-family: 'Roboto',sans-serif !important;
}

/*    ****************** HEADER  ****************** */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    top: -13px;
    position: fixed;
    background: white;
    padding-top: 15px;
    z-index: 5;
}

header div.logo{
    width: 9%;
}

header nav{
    width: 80%;
}

header nav ul{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 48%;
	list-style-type:none;
    max-width: 50%;
    
}

header nav ul li a:hover{
    color: darkorange;
}

header nav ul li a{
	color: #222831;
	text-decoration:none;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
    display: block;
}

/*    ****************** MENU VERTICALE ****************** */

#menu{
	float: right;
    display: none;
}

#menu #menuv{
	position: relative;
	display: none;
    float: right;
}

#menu #menuv ul{
	list-style-type: none;
	width: 225px;
}

#menu #menuv ul li{
	margin-left: 15px;
	padding: 8px 0px;
	cursor: pointer;
	border-bottom: 1px solid black;
}

#menu #menuv ul li:hover{
	background: darkorange;
	color: #fff; 
}

#menu #menuv ul li a{
	color: black;
	font-size: 20px;
	text-decoration: none;
    display: block;
}

/*    ****************** CONTENANT PAGE D'ACCUEIL  ****************** */
#contenant{
    align-items: center;
    margin: 5%;
    background: rgb(255 163 62 / 14%);
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#contenant .contenu{
    display: grid;
    grid-template-columns: 50% 50%;
}

#contenant .contenu .scontenu2{
    background-image: url(./images/afytech_developement_web.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-right-radius: 2rem;
}

#contenant .contenu .scontenu3{
    background-image: url(./images/afytech_infrastructure_reseaux.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 2rem;
}

#contenant .contenu .scontenu1, .scontenu4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#contenant .contenu .scontenu1, .scontenu4 p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding: 8%;

}

#contenant p{
    margin-bottom: 0;
}

/*    ****************** SLIDER ****************** */
.carousel-indicators [data-bs-target] {
    background-color: #E86A34;
}

#carouselExampleCaptions{
    margin-top: 4rem;
}

.carousel-caption{
    top: 40%!important;
}

.d-none{
    display: static!important;
}

div.carousel-item div.carousel-caption .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-weight: 900;
    color: #000;
}
@-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}

div.carousel-item div.carousel-caption p.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-weight: 900;
    color: #000;
}
@-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
} 



/*    ****************** PAGE CONTACTS ****************** */
#contact{
    background:rgba(255, 163, 62, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    margin-top: 3rem;
}

#contact #hautcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3%;    
}

#contact #hautcontact h1{
    font-family: 'Roboto', sans-serif;
    color: #FF840D;
}

#contact #hautcontact p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    color: black;
}

#contact #bascontact{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

#bascontact section.cgauche{
    width: 50%;
    height: 450px;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    background: #FF840D;
    border-radius: 14px;
}

#bascontact section.cgauche h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 5%;
}

#bascontact section.cgauche p{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

#bascontact section.cgauche ul{
    margin-left:5% ;
}

#bascontact section.cgauche ul li{
    margin-bottom: 6%;
}

#bascontact section.cgauche ul li i{
    margin-right: 5%;
    color: #fff;
}

#bascontact section.cgauche ul li a{
    color: #fff;
    font-size: 13px;
}

#bascontact section.cgauche .map{
    display: flex;
}

#bascontact section.cgauche .map iframe{
    width: 100%;
}

#bascontact section.cdroite{
    width: 50%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 3%;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background: #fff;

}

#bascontact section.cdroite form .formulaire{
    display: flex;
    flex-direction: column;
}

#bascontact section.cdroite form .formulaire label{
    letter-spacing: 1px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

#bascontact section.cdroite form .formulaire input{
    margin-bottom: 20px;
    border-bottom: 1px solid #FF840D;
    border-top: antiquewhite;
    border-left: antiquewhite;
    border-right: antiquewhite;
    padding: 10px;
}

#bascontact section.cdroite form .formulaire textarea{
    margin-bottom: 10px;
    margin-top: 5px;
    border: antiquewhite;
    background: rgba(255, 163, 62, 0.07);
    padding-bottom: 50px;
    transition: 0.2;
    resize: none;
    height: 100px;
}

#bascontact section.cdroite form input.button{
    float: right;
    border: 1px solid #FF840D; 
    background: #FF840D; 
    color: #fff;
    border-radius: 18px;
    padding: 13px 30px;
    letter-spacing: 2px;
    cursor: pointer;
}

#bascontact section.cdroite form input.button:hover{
    background: #ff840de0;
    border: 1px solid #ff840de0;  
}

/*    ****************** PAGE SOCIETE ****************** */
div#section_deux{
    background-color: rgba(255, 163, 62, 0.05);
    padding-top: 3rem;
    margin-bottom: 3rem;
    max-width: 1210px;
}

div.col{
    margin-bottom: 5rem;
    padding-left:  4%;
   padding-right: 4%;
}

div.titre h2
{
    color: #E86A34;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

div.container p{
    text-align: justify;
    font-family: 'roboto sans serif';
    font-size: 1.2rem;
}

div.card-body h6.card-text{
    height: 5rem;
    font-size: 1.1em;
    font-weight: bold;
}

div#card div.row div.col img{
    border-top-right-radius: 2rem;
}

.card{
    border-top-right-radius: 2rem!important;
    border-bottom-left-radius: 2rem!important;
}

.card:hover{
    box-shadow: 5px 10px rgba(250, 132, 6, 0.1)
}

div.card a{
    text-decoration: none;
    text-align: center;
    color: black;   
}

#section_un{
    margin-top: 45px;
    max-width: 1210px;
}

div.title_image1{
    margin-top: 5.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    }

    .fadeInDown {
        width: 100%;
        height: 300px;
        -webkit-animation-name: fadeInDown ;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInDown  {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInDown  {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }

/*    ****************** PAGE SERVICE ****************** */
#servcont{
    max-width: 1210px;
}

div.title_image{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.fadeInUp {
    width: 100%;
    height: 300px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

 

    div[class*='paragraphe'] {
    background-color: rgba(255, 163, 62, 0.05);
    padding: 20px;
    border-radius: 0px 40px 0px 40px;
    border-top: 4px solid #FF840D;
    border-left: 1px solid #FF840D;
    border-right: 1px solid #FF840D;
    display: flex;
}

.detailservice{
    margin-left: 2rem;
}

.iconeservice{
    display: flex;
    align-items: center;
    color: #FF840D;
    font-size: 87px;
}

.paragraph{
    padding-top: 2.4rem;
    padding-bottom: 3rem;
}

div.container h6{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

/*    ****************** PAGE PROJET ****************** */
#projet{
    max-width: 89%;
    margin: 6rem auto;
}

#projet p{
    text-align: justify;
}


.nprojet{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.paraprojet{
    text-align: justify;
}

div#carouselExampleSlidesOnly div.carousel-inner{
    max-height: 470px;
}


/*    ****************** FOOTER  ****************** */
footer{
	display: flex;
    padding: 0 75px;
    justify-content: space-between;
	background:  #474444;
	color: #FFFFFF;
}

footer #gauche img{
    margin-top: 20px;
    width: 250px;
}

#gauche p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #F8F8F8;
    opacity: 0.85;
    margin: 20px 0;
    text-align: justify;
}

#gauche{
	display: flex;
	flex-direction: column;
	max-width: 25%;
}

#droite .colone2 p.logo{
    display: flex;
    justify-content: space-between;
    width: 33%;
    min-width: 300px;
    margin: auto;
}

#droite .colone2 p.logo a:hover{
    border: 1px solid darkorange;
    color: darkorange;
}

#droite .colone2 p.logo a{
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    text-decoration: none;
    color: #FFFFFF;
}

#droite{
	display: flex;
	max-width: 71%;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#droite h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FF840D;
}

#droite .colone1{
    width: 58%;
}

#droite .colone2{
    width: auto;
}

#droite ul{
	list-style: none;
    padding-left: 0;
}

#droite a{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

#copy{
    background:  #474444;
    text-align: center;
    padding-bottom: 10px;
}

#copy p{
    color: black;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0;
}

#copy p a{
    color: black;
}

#copy p a:hover{
    color: #FF840D;
}

/*    ****************** PAGE BOUTIQUE ****************** */

.card-title {
    margin-bottom: .5rem;
    font-weight: bold;
    text-align: left!important;
}

.card-img {
    border-bottom-left-radius: 2rem!important;
}

div.container div.title-boutique h2 {
    text-align: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    border: solid 5px #FF840D;
    padding: 20px;
    border-radius: 20px;
}

div.mb-3 {
    margin-bottom: 5rem!important;
}

.text-muted {
    color: #FF840D!important;
    font-weight: bold;
}

#boutiques{
    margin-top: 9rem;
}

.g-0{
    align-items: center;
}

#boutache .modal-body p, .modal-title{
	text-align: center !important;
}

#boutache .close{
    background: #ff0000a1;
    border: none;
    color: #fff;
    padding: 0 6px;
}

#boutache .btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active {
    background: #FF932A;
    border-color: #FF932A;
}

#boutache .btn-primary:focus {
    background-color: #FF932A;
    border-color: #FF932A;
    box-shadow: 0 0 0 0.2rem  rgb(255 158 38 / 50%) !important;
}

p.card-text{
    margin-top: 1rem !important;
}

#produits{
    margin-top: 9rem;
}

a .row .col-md-4 {
    display: flex;
    flex: 0 0 auto;
    width: 33.3333333333%;
    align-items: center;
}


#boutache{
    display: flex;
    top: -3rem;
    position: relative;
    justify-content: flex-end;
    margin-bottom: -4rem;
}


section#Categorie div.container div.row .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
section#Categorie div.container div.row .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
section#Categorie div.container div.row .MultiCarousel .MultiCarousel-inner .item { float: left;}
section#Categorie div.container div.row .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
section#Categorie div.container div.row .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
section#Categorie div.container div.row .MultiCarousel .leftLst { left:0; }
section#Categorie div.container div.row .MultiCarousel .rightLst { right:0; }
section#Categorie div.container div.row .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

section#Categorie div.container div.MultiCarousel-inner div.item div.pad15 a{text-decoration:none; color:#FF840D}
section#Categorie div.container div.MultiCarousel-inner button.btn-primary{color:#FF840D}

.btn-primary:hover {
    color: #fff;
    background-color: #FF840D;
    border-color: #0d6efd;
}

.rechercheproduit{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

#btn-recherche {
    text-align: center;
    border: 1px solid red;
    max-width: 19rem;
    padding: 12px;
    
}

#btn-recherche input{
    border:none;
}


/*    ****************** PAGE DETAIL DES PRODUITS ****************** */

.img-thumbnail{
    border: 0px solid #dee2e6;
    height: 222px;
    width: 300px;
}

#galerie{
    margin-bottom: 2rem;
}

#produits .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.detail_produit div.card-body h4{
    background-color: #FF840D;
}

.fa-chevron-left, .fa-chevron-right{
    font-weight: 600;
    color: #FF840D!important;
    font-size: 4rem;
}

#produits #carouselExampleControls .carousel-inner{
    display: flex;
    align-items: center;
    min-height: 505px;
    max-height: 505px;
}


/*    ****************** MEDIA QUERIES ****************** */

@media screen and (max-width: 992px) {
    #contenant .contenu .scontenu1, .scontenu4 p{
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    
    }

    #contact #hautcontact h1{
        font-size: 30px !important;
    }

    header nav ul{
        margin-left: 40%;
        max-width: none;  
    }

    #contact #bascontact{
        flex-direction: column;
        background-color: rgba(255, 163, 62, 0.05);
    }

    #bascontact section.cgauche{
        min-width: 100%;
    }

    #bascontact section.cgauche .map{
        margin-top: -37px;
    }

    #bascontact section.cdroite{
        min-width: 100%;
    }

    a .row .col-md-4 {
        width:auto;
    }

    #droite {
        margin-top: 20px;
    }

    footer #gauche img{
        margin-top: 20px;
        width: 145px;
    }

    header nav ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #contenant .contenu .scontenu1, .scontenu4 p{
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
    
    }

    header .logo a img{
        width: 100px;
        height: 40px;
    }

    header nav ul{
        margin-left: 15%;
    }

    footer{
        padding: 0 60px;
        flex-direction: column;
    }

    footer #gauche{
        max-width: none;
    }

    footer #droite{
        max-width: none;
    }

    footer #gauche p.logo{
        width: auto;
        margin: 0px;
    }

    footer #droite .colone1{
        width: auto;
    }

    #bascontact section.cgauche .map{
        margin-top: 0;
    }

    .d-md-block {
        display: block!important;
    }
    
    .carousel-caption{
        top: 30%!important;
    }

}

@media screen and (max-width: 576px) {
    #contenant .contenu .scontenu1, .scontenu4 p{
        font-weight: 500;
        font-size: 8px;
        line-height: 11px;
    }

    header {
        align-items: flex-start;
        top: -8px;
        position: fixed;
        background: white;
        padding-left: 15px;
        padding-right: 15px;
    }

    header nav{
        display: none;
    }

    header div.logo {
        width: 93%;
    }

    .carousel-caption h1{
        font-size: 15px;
    }

    .carousel-caption p{
    font-size: 8px;
    }

    #menu{
        display: block;
    }

    #menu .icone{
        float: right;
    }

    #menu .icone{
        color: #FF840D;
        cursor: pointer;
    }

    #droite{
        flex-direction: column;
        margin-left: 0;
    }

    div[class*='paragraphe'] {
        flex-direction: column;
        align-items: center;
    }

    .iconeservice{
        font-size: 80px;
        margin-bottom: .8rem;
    }

    .detailservice{
        margin-left: 0;
    }

    #bascontact section.cgauche ul {
        margin-left: -9%;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 2rem;
    }

    #produits #carouselExampleControls .carousel-inner {
        display: flex;
        align-items: center;
        min-height: 177px;
        max-height: 177px;
    }

    .fadeInUp {
        height: 200px;
        width: 100%;
        
    }

    .fadeInDown {
        height: 200px;
        width: 100%;
    }

    div.title_image1 {
        margin-top: 5.2rem;
        margin-left: 0;
        margin-right: 0;

    }

    div.title_image {
        margin-top: 5.2rem;
        margin-left: 0;
        margin-right: 0;
    }
}